.navbar{
    background: rgb(30, 30, 30);
    height: 5rem;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}

h1{
    font-family: 'Fuggles', cursive;
    font-size: 4rem;
}

.desktopmenuListItem{
    margin: 1rem;
    cursor: pointer;
    transition: 0s;
}
.desktopmenuListItem:hover{
    transition-delay: 50ms;
    color: yellow;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid yellow;
}
.desktopMenuBtn{
    background: white;
    color:  black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem;
    cursor: pointer;
}
.desktopMenuBtn:hover{
    scale: 1.05;
    transition: 0.1s;
}
.desktopMenuImg{
    object-fit: cover;
    height: 1rem;
    width: 1rem;
    margin: 1.1rem 0.9rem 1rem 0.1rem;
}
.active{
    color: yellow;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid yellow;
}

.mobMenu{
    display: none;
    object-fit: cover;
    height: 1.8rem;
}

.navMenu{
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background: rgb(40, 40, 40);
    border-radius: 1rem;
}

.ListItem{
    color: white;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background-color: rgb(30, 30, 30);
    border-radius: 1rem;
}


@media screen and (max-width: 720px) {
    .mobMenu{
        display: flex;
    }
    .DesktopMenu{
        display: none;
    }
    .desktopMenuBtn{
        display: none;
    }
}