#works{
    margin: 0 auto;
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}

.worksTitle{
    margin: 1rem 0;
    font-size: 3rem;
}

.worksDesc{
    font-weight: 300;
    font-size: 1rem;
    max-width: 45rem;
    margin: 2rem 0;
}

.worksImgs{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
    max-width: 65rem;
}
.project{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.project:hover{
    background-color: rgb(111, 110, 110);
    border: 5px  rgb(222, 215, 215) double;
    color: aliceblue;
}

.worksImg{
    object-fit: cover;
    height: 20rem;
    width: 15rem;
    margin: 0.5rem
}

.worksBtn{
    margin: 3rem 0;
    padding: 0.5rem 2.5rem;
    border: none;
    background: white;
    border-radius: 2rem;
    font-size: 1rem;
    cursor: pointer;
}
.worksBtn:hover{
    scale: 1.05;
    transition: 0.1s;
}

@media screen and (max-width: 585px) {
    .worksImg{
        height: 50vw;
    }
}